In [ ]:
import pandas as pd 
import numpy as np 
import plotly.express as px
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
df = pd.read_csv("athlete_events.csv")
df1 = pd.read_csv("noc_regions.csv")

In [ ]:
df.head()

In [ ]:
df = df[df["Season"] =="Summer"]

In [ ]:
df.shape

In [ ]:
df.tail()

In [ ]:
df = df.merge(df1  , on =  "NOC" , how = "left")

In [ ]:
df["region"].unique().shape

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
pd.get_dummies(df["Medal"])

In [ ]:
# now i have to horizontally attached this dummies data frame with my original dataframe
df = pd.concat([df  ,pd.get_dummies(df["Medal"])], axis = 1)

In [ ]:
'''
here i am sorting the data on the top of the "Gold" and then i am arranging in descending order and 
then resetting the index this particular data has been organised by the each and every athlet and 
according to the reality india has won 9 gold medal and our analysis shows india has won the 131 gold 
medals because it is calculating with respect to the all athletes  
'''
df.groupby("NOC").sum()[['Gold','Silver','Bronze']].sort_values("Gold" , ascending = False).reset_index()

In [ ]:
# to solve the above issue i will remove all the duplicates entry on the basis of following parameter 

medal_tally = df.drop_duplicates(subset = ["Team", 'NOC', 'Year',"City",'Sport','Event','Medal'])
medal_tally

In [ ]:
medal_tally = medal_tally.groupby("region").sum()[['Gold','Silver','Bronze']].sort_values("Gold" , ascending = False).reset_index()
medal_tally

In [ ]:
medal_tally[medal_tally["region"] == "India"]

In [ ]:
medal_tally['Total'] = medal_tally["Gold"] +medal_tally["Silver"]+medal_tally["Bronze"]

In [ ]:
def medal_tally(df):
    medal_tally = df.drop_duplicates(subset = ["Team", 'NOC', 'Year',"City",'Sport','Event','Medal'])
    medal_tally = medal_tally.groupby("region").sum()[['Gold','Silver','Bronze']].sort_values("Gold" , ascending = False).reset_index()
    
    medal_tally['Total'] = medal_tally["Gold"] +medal_tally["Silver"]+medal_tally["Bronze"]
    medal_tally["Gold"] = medal_tally["Gold"].astype("int")
    medal_tally["Silver"] = medal_tally["Silver"].astype("int")
    medal_tally["Bronze"] = medal_tally["Bronze"].astype("int")
    medal_tally["Total"] = medal_tally["Total"].astype("int")
    return medal_tally

In [ ]:
# extracting the unique values from all the year 

years = df['Year'].unique().tolist()
years.sort()
years.insert(0,'Overall')

In [ ]:
years

In [ ]:
# extracting the unique countries from all the year 

country = np.unique(df["region"].dropna().values).tolist()
country.sort()
country.insert(0,'Overall')
country

In [ ]:
medal_df = df.drop_duplicates(subset = ["Team", 'NOC', 'Year',"City",'Sport','Event','Medal'])

In [ ]:
def fetch_medal_tally(df , year , country):
    medal_df = df.drop_duplicates(subset = ["Team", 'NOC', 'Year',"City",'Sport','Event','Medal'])
    flag = 0
    if year == "Overall" and country =='Overall':
        temp_df = medal_df 
        
    if year =="Overall" and country != 'Overall':
        flag = 1
        temp_df = medal_df[medal_df['region'] == country]
        
    if year !="Overall" and country == 'Overall':
        temp_df = medal_df[medal_df['Year'] == year]
        
    if year !="Overall" and country != 'Overall':
        temp_df = medal_df[(medal_df["Year"] == year) & (medal_df['region'] == country)]

    if flag ==1:
        x = temp_df.groupby("Year").sum()[['Gold','Silver','Bronze']].sort_values("Year" , ascending = True).reset_index()
    else:
        x = temp_df.groupby("region").sum()[['Gold','Silver','Bronze']].sort_values("Gold" , ascending = False).reset_index()
    x['Total'] = x["Gold"] + x["Silver"] + x["Bronze"]
    print(x)

In [ ]:
fetch_medal_tally(medal_df , year = 1900 , country = "India")

# Olympics overall analysis 
- no of editions
- no.of cities
- no.of events/sports
- no.of athletes
- participating nations

In [ ]:
# no of editions

df["Year"].unique().shape[0]

# here when i google it then i got answer 28 means total 28 olympics game was played in 4 year of intervals 
# in 1906 olympics was played but it was not considered 
# thats why i am deleting 1 from 29 and i will get 28 

df["Year"].unique().shape[0]-1

In [ ]:
# No of cities

df["City"].unique().shape[0]

In [ ]:
# no.of events/sports

print(df["Sport"].unique().shape[0])
print(df['Event'].unique().shape[0])

In [ ]:
# no.of athletes

print(df["Name"].unique().shape[0])

In [ ]:
# participating nations

print(df["region"].unique().shape[0])

In [ ]:
# i want to fetch overall the year how many countries were participated

nations_over_time = df.drop_duplicates(['Year' ,'region'])["Year"].value_counts().reset_index().sort_values("Year")
nations_over_time

In [ ]:
# making line plot using line 
fig = px.line(nations_over_time , x = "Year" , y = "count")
fig.show()

In [ ]:
# over the years no.of events happened in olympics

df.drop_duplicates(['Year' ,'Event'])["Year"].value_counts().reset_index().sort_values("Year")

In [ ]:
# athletes over time 

athletes = df.drop_duplicates(['Year' ,'Name'])["Year"].value_counts().reset_index().sort_values("Year")
athletes

In [ ]:
# show the heatmap 

x = df.drop_duplicates(['Year' ,'Sport' , 'Event'])

In [ ]:
plt.figure(figsize=[20,20])
sns.heatmap(x.pivot_table(index="Sport" , columns='Year' , values='Event' , aggfunc="count").fillna(0).astype("int") , annot=True)

In [ ]:
# MOSt succesfull athletes in olympics

def most_succesfull_athlete(df , sport):
    temp_df = df.dropna(subset = ["Medal"])
    if sport != "Overall":
        temp_df = temp_df[temp_df["Sport"] ==sport]

    x = temp_df["Name"].value_counts().reset_index().head(15).merge(df , how = "left" ,on = "Name")[["Name" ,"count" ,'Sport','region']].drop_duplicates()
    x.rename(columns = {'count':'Medals'} , inplace = True)
    return x

In [ ]:
most_succesfull_athlete(df, "Gymnastics")

# Country wise analysis 
- country wise medal tally per year
- what countries are good at heatmap
- most succesfull athletes (top-10)

In [ ]:
# country wise medal tally per year

temp_df = df.dropna(subset = ["Medal"])
temp_df.drop_duplicates(subset =['Team','NOC','Games','Year','City','Sport','Event','Medal'] , inplace = True)

In [ ]:
new_df = temp_df[temp_df['region'] =="India"]
final_df = new_df.groupby('Year').count()["Medal"].reset_index()
final_df

In [ ]:
# ploting a graph 
fig = px.line(final_df , x = "Year" , y = "Medal")
fig.show()

In [ ]:
# plotting the heatmap
plt.figure(figsize=(20,20))
new_df = temp_df[temp_df['region'] =="UK"]

sns.heatmap(new_df.pivot_table(index = 'Sport' ,columns = 'Year' ,values = 'Medal' , aggfunc = 'count').fillna(0) , annot= True)

In [ ]:
# Most succesful athletes countrywise(top-10)

def most_succesfull_athlete_countrywise(df , country):
    temp_df = df.dropna(subset = ["Medal"])
    temp_df = temp_df[temp_df["region"] == country]

    x = temp_df["Name"].value_counts().reset_index().head(15).merge(df , how = "left" ,on = "Name")[["Name" ,"count" ,'Sport','region']].drop_duplicates()
    x.rename(columns = {'count':'Medals'} , inplace = True)
    return x

In [ ]:
most_succesfull_athlete_countrywise(df , 'USA')

# Athlet wise analysis

In [ ]:
import plotly.figure_factory as ff

In [50]:
athlete_df = df.drop_duplicates(subset  =['Name' ,'region'])
athlete_df["Age"]

0         24.0
1         23.0
2         24.0
3         34.0
4         18.0
          ...
222544    19.0
222546    23.0
222548    21.0
222549    24.0
222551    33.0
Name: Age, Length: 116885, dtype: float64

In [ ]:
athlete_df["Age"].dropna()

In [ ]:
fig = ff.create_distplot([athlete_df["Age"].dropna()],['Age Distribution'] , show_hist=False , show_rug= False)
fig.show()

In [ ]:
x1 = athlete_df["Age"].dropna()
x2 = athlete_df[athlete_df['Medal'] =='Gold']['Age'].dropna()
x3 = athlete_df[athlete_df['Medal'] =='Silver']['Age'].dropna()
x4 = athlete_df[athlete_df['Medal'] =='Bronze']['Age'].dropna()

In [ ]:
fig = ff.create_distplot([x1, x2,x3,x4],['Overall Age' ,'Gold Medalist' ,'Silver Medalist' ,'Bronze Medalist'] , show_hist=False , show_rug= False)
fig.show()

In [ ]:
x = []
name = []
famous_sports = ['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
                     'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
                     'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
                     'Water Polo', 'Hockey', 'Rowing', 'Fencing',
                     'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
                     'Tennis', 'Golf', 'Softball', 'Archery',
                     'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
                     'Rhythmic Gymnastics', 'Rugby Sevens',
                     'Beach Volleyball', 'Triathlon', 'Rugby', 'Polo', 'Ice Hockey']
for sport in famous_sports:
        temp_df = athlete_df[athlete_df['Sport'] == sport]
        x.append(temp_df[temp_df['Medal'] == 'Gold']['Age'].dropna())
        name.append(sport)

fig = ff.create_distplot(x, name, show_hist=False, show_rug=False)
fig.update_layout(autosize=False, width=1000, height=600)
st.title("Distribution of Age wrt Sports(Gold Medalist)")
st.plotly_chart(fig)

In [51]:
athlete_df["Medal"].fillna("NO Medal" , inplace = True)

C:\Users\Mayur Dalvi\AppData\Local\Temp\ipykernel_17892\3658630045.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [59]:
plt.figure(figsize = (10,10))
temp_df = athlete_df[athlete_df["Sport"] == 'Athletics']
sns.scatterplot(temp_df['Weight'], temp_df['Height'] , hue = temp_df["Medal"] , style = temp_df['Sex'])

TypeError: scatterplot() takes from 0 to 1 positional arguments but 2 positional arguments (and 2 keyword-only arguments) were given

In [62]:
# over the year participation of males and females

men = athlete_df[athlete_df['Sex'] =="M"].groupby("Year").count()['Name'].reset_index()
women = athlete_df[athlete_df['Sex'] =="F"].groupby("Year").count()['Name'].reset_index()

In [69]:
final = men.merge(women , on = 'Year'  , how = 'left')
final.rename(columns = {'Name_x':'Male' , "Name_y":'Female'}).fillna(0, inplace = True)

In [70]:
fig = px.line(final , x= "Year" , y = ['Male','Female'])
fig.show()

ValueError: All arguments should have the same length. The length of argument `y` is 2, whereas the length of  previously-processed arguments ['Year'] is 29